<body>
  <div class="container-img">
    <div>
      <img src="../../../assets/img/interesse.png" alt="#" class="img">
    </div>
  </div>
  <form class="form-group">
    <div class="m-4 d-flex row">
      <label for = "title" class="m-1">E-mail</label>
      <input type = "text" id="text">
    </div>
    <div class="d-flex row  m-4">
      <label for="" class="m-1">Mensagem</label>
      <textarea name="" rows="8" id="area"></textarea>
    </div>
    <div class="m-4">
      <input type="submit">
    </div>
  </form>
</body>