<body>
  <div class="container-img">
    <div>
      <!-- <h1 class="title">{{ title }}</h1> -->
      <img src="../../../assets/img/educacao.png" alt="" class="img">
    </div>
  </div>
  <div class="mt-4">
    <ul class="row info" *ngFor = "let item of educacao">
      <li class="col-sm-4 fw-semibold">Instituição: {{ item.school }}</li>
      <li class="col-sm-4 fw-semibold">Curso: {{ item.course }}</li>
      <li class="col-sm-4 fw-semibold">Período: {{ item.date }}</li>
    </ul>
  </div>
</body>