<div>
	<app-profile-tab profileUser="Gabriel" dataUrl="../../../gabriel.json"
		(updateProfileInfoRequest)="loadNewContent($event)"></app-profile-tab>

	<app-profile-tab profileUser="Alanis" dataUrl="../../../assets/people-info/alanis.json"
		(updateProfileInfoRequest)="loadNewContent($event)"></app-profile-tab>

	<app-profile-tab profileUser="Denilson" dataUrl="../../../assets/people-info/denilson.json"
		(updateProfileInfoRequest)="loadNewContent($event)"></app-profile-tab>
</div>
<div>
	<p>Content of {{ curProfileUser }}:</p>
	<p>{{ content }}</p>
</div>